body {
  text-align: center;
  color: #fcfcfc;
  background-color: #e4e4e4;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  line-height: 48px;
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-size: 34px;
  line-height: 48px;
}

h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 50px;
}

p {
  font-size: inherit;
}

.openlink {
  color:white
}
.openlink:hover {
  color:white;
  opacity: 0.75;
}

.showlocaltime {
  font-size: 34px;
  line-height: 48px;
}
.tip {
  margin: 10px auto;
  font-weight: inherit;
}

.main-content {
  background: linear-gradient(to bottom, #291c4d 2%, #323265 20%, #dacdc8 80%);
  max-width: 70%;
  margin: 0 auto;
  padding: 30px 5px;
  border-radius: 15px;
  font-weight: 100;
}

.navbar-brand,
.card,
.tip {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-brand {
  color: #852d2d;
  background-color: #f0e4e0;
  font-size: 12px;
}

.search-button {
  display: inline;
  background-color: #e57973;
  color: #ffff;
  font-size: 10px;
  border-radius: 20px;
  border: 0.5px solid #e4e4e4;
  margin: inherit;
  padding: 8px;
  box-shadow: rgb(37 39 89 / 10%) 0px 8px 8px 0;
  transition: all 200ms ease;
}
.search-button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.current-location {
  display: inline;
  background-color: rgb(40%, 39%, 52%) ;
  color: #ffff;
  font-size: 10px;
  border-radius: 20px;
  border: 0.5px solid #e4e4e4;
  margin: inherit;
  padding: 8px;
  box-shadow: rgb(37 39 89 / 10%) 0px 8px 8px 0;
  transition: all 200ms ease;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0);
  background-clip: border-box;
  border: 1px solid rgba(255, 255, 255, 0.151);
  border-radius: 0.25rem;
}

.feels-like,
.feels-like-data,
.card-title,
.card-text,
.text-muted {
  text-align: left;
  margin-top: 0 auto;
  font-size: 20px;
  color: #f9f7ff;
  line-height: normal;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.1rem - 1px) calc(0.1rem - 1px);
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.footer {
  margin-top: 23px;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
